.column{
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #fbdfd9;
    justify-content:space-between;
    padding-right: 40px;
}
.column2{
    width: auto;
    display:flex;
    align-items: center;
}
.img1{
    width: 178px;
    height: 96px;
    /* border: 1px solid black; */
}
.img2{
    width:294px;
    height: 64px;
    /* border:1px solid black; */
}
.text{
    width:710px;
    height: 60px;
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: 600;
}
.date{
    /* border: 1px solid black; */
    height: 48px;
    width: 250px;
    background-color: red;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
    line-height: 45px;
    text-align: center;
}
.info {
    text-align: center; 
    margin-top: 50px; 
  }
  
  .title {
    font-size: 36px; 
    font-weight: 500;
    line-height: 1.2;
  }
  
  .bold-text {
    font-weight: bold;
    color: black;
  }
  
  .highlight {
    background-color: red; 
    color: white; 
    padding: 0 4px; 
    font-weight: bold;
  }
  
  .second-line {
    display: block; 
    margin-top: 10px; 
  }
  
  .description {
    font-size: 18px;
    margin-top: 20px;
    color: #4a4a4a; 
  }

h3{
    text-align: center;
    margin-top: 50px;
}
.courses {
    display: flex; 
    gap:30px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .course-item {
    text-align: center; 
  }
  
  .course-item img {
    display: block; 
    margin: 0 auto; 
  }
  
  .course-item p {
    margin-top: 10px; 
    font-size: 16px;
    font-weight: 700;
  }
  
  .school-course {
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .school-item {
    text-align: center; 
  }
  
  .school-item img {
    display: block; 
    margin: 0 auto;
  }
  
  .school-item p {
    margin-top: 10px; 
    font-size: 16px;
    font-weight: 700;
  }
  
  